.search-component {
    display: inline-block;
}

.search {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

input {
    border-style: solid;
    padding: 15px;
    border: 2px;
    border-color: black;
}